
.step-circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

/* Custom Indigo Shades */
.bg-indigo-500 {
  background-color: #6366f1 !important; /* Tailwind indigo-500 */
}

.bg-indigo-400 {
  background-color: #818cf8 !important; /* Tailwind indigo-400 */
}

.custom-gap {
  gap: 7rem;
}

