.step-circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

.bg-indigo-500 {
  background-color: #6366f1 !important; 
}

.bg-indigo-400 {
  background-color: #818cf8 !important; 
}

.custom-gap {
  gap: 7rem;
}


.custom-quill-editor .ql-editor {
  padding-top: 30px; 
  padding-bottom: 30px;
}

/* Switch CSS */
.btn-outline-secondary{
  border-color: gainsboro !important;
}

.no-border{
  border-right: none;
}

.no-border-left{
  border-left: none;
}

span {
  border-color: gainsboro;
}

.ql-toolbar-custom {
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 8px;
  border-radius: 4px;
}

#toolbar-container {
  border: none !important;
}

.ql-container {
  border: none !important;
  box-shadow: none !important;
}

.custom-shadow {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  
}

.border-top{
  background-color: var(--bs-light);
}