
.step-circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

.bg-indigo-500 {
  background-color: #6366f1 !important; 
}

.bg-indigo-400 {
  background-color: #818cf8 !important; 
}

.custom-gap {
  gap: 7rem;
}


.custom-quill-editor .ql-editor {
  padding-top: 30px; 
  padding-bottom: 30px;
}


